<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aji.kerjain">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logotransparan"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logotransparan"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ConfirLogout"></activity>
        <activity android:name=".Cari_kerja" />
        <activity android:name=".profil_saya" />
        <activity
            android:name=".tambah_lowongan"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".landing"
            android:label="" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mendaftar" />
    </application>

</manifest>